html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px;
}

.card-head {
  position: relative;
}

.card-body {
  padding: .2rem 1rem;
}

.card-title {
  margin: 0;
  padding: .3rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-label {
  padding: .3rem 1rem .3rem calc(1rem- 4px);
  border-left: 4px solid green;
  background-color: rgba(255, 255, 255, .6)
}
